@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome there!!</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<div class="card-columns">
    @foreach (var transaction in Model.Transactions!)
    {
        <div class="card">
            <div class="card-text">@transaction.Amount</div>
            <div class="card-title">@transaction.Description</div>
        </div>
    }
</div>
