@page
@model PrivacyModel
@{
    ViewData["Title"] = "License";
}

<style>
    /* Custom style for license text */
    .license-text {
      margin-top: 50px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center" style="margin: 0.5em 0 -0.5em 0">Freeware License</h2>
        <div class="license-text">
          <p>By using this software, you agree to the following terms and conditions:</p>
          <ol>
            <li><strong>Grant of License:</strong> This software is provided as freeware. You are granted a non-exclusive, non-transferable license to use the software for personal, non-commercial purposes without charge.</li>
            <li><strong>Restrictions:</strong> You are prohibited from: modifying, adapting, redistributing, selling, or transferring the software or any part of it without explicit permission.</li>
            <li><strong>No Warranty:</strong> This software is provided "as is" without warranty of any kind. The developer shall not be liable for any damages arising from the use of this software.</li>
            <li><strong>Ownership:</strong> The developer retains all rights, title, and interest in and to the software, including all copyrights, patents, and other intellectual property rights.</li>
            <li><strong>Termination:</strong> This license is effective until terminated. Your rights under this license will terminate automatically without notice if you fail to comply with any term of this license.</li>
            <li><strong>Acceptance of Terms:</strong> By using this software, you acknowledge that you have read, understood, and agree to be bound by the terms and conditions of this license agreement.</li>
          </ol>
          <p>&copy; 2023 - 💸Budget Logger by <a href="https://github.com/psampir">psampir</a></p>
        </div>
      </div>
    </div>
  </div>
</body>